body.newDesign {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

body.newDesign .CstmHeader button {
  padding: 10px 12px;
}

body.newDesign .w-50 {
   width: 50%;
}

body.newDesign .themeClr {
  color: #00ff00 !important;
}

body.newDesign .container {
  max-width: 1270px !important;
}

body.newDesign th {
  white-space: nowrap;
}

body.newDesign table.stipped tbody > tr:nth-child(even) {
  background: #f9f8f8;
}

body.newDesign input::-webkit-outer-spin-button,
body.newDesign input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.newDesign input[type="number"] {
  -moz-appearance: textfield;
}

body.newDesign *::placeholder {
  font-size: 14px;
}

body.newDesign .radioList .radioBtn {
  background: #275b34;
  border-radius: 5px;
}

body.newDesign .radioList input:checked + .radioBtn {
  background: #00ff38 !important;
  color: #000 !important;
}

body.newDesign .commonBtn {
  min-height: unset !important;
  color: #002628 !important;
  font-size: 14px;
  transition: 0.4s;
  height: 45px;
  background: #00ff00 !important;
  border-color: #00ff00 !important;
  border-radius: 4px;
  padding: 0 15px;
  margin: 0;
}

body.newDesign .tabcontainer .nav::-webkit-scrollbar {
  display: none;
}

body.newDesign .commonBtn.borderedBtn {
  background: transparent;
  border-color: #00c6d9;
  color: #00c6d9;
}

body.newDesign .commonBtn:hover,
body.newDesign .btn.submitBtn:hover {
  background: #011b1c !important;
  color: #00ff00 !important;
}

body.newDesign .form-control {
  height: 50px;
  font-size: 14px;
  background-color: #011b1c;
  border-color: #011b1c;
  color: #fff;
}

body.newDesign .form-control:focus {
  border-color: #00ff00 !important;
  box-shadow: unset !important;
  outline: 0 !important;
}

body.newDesign .labelInput .form-control:focus + label {
  color: #00ff00;
}

body.newDesign *::placeholder {
  color: #fff !important;
}

body.newDesign input.form-check {
  height: 20px;
  width: 24px;
  flex-shrink: 0;
  color: #111111;
  border: 1px solid #111111;
  outline: 0;
  border-radius: 3px;
  box-shadow: unset !important;
}

body.newDesign textarea.form-control {
  resize: none;
  height: auto;
}

body.newDesign .iconWithText .icn.absolute {
  top: 50%;
  transform: translateY(-50%);
}

body.newDesign .cstmModal {
  z-index: 999;
}

body.newDesign .cstmModal .modalDialog {
  width: calc(100% - 30px);
  max-width: 677px;
  background-color: #002628;
  max-height: calc(100vh - 30px);
  overflow-y: scroll;
  scrollbar-width: none;
}

body.newDesign .tabContent div.tab-content:not(.hidden) {
  display: block;
}

body.newDesign .nav.underlineTab button:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #00ff00;
  transform: translateY(80%);
  z-index: 99;
  border-radius: 5px;
  opacity: 0;
}

body.newDesign .nav.underlineTab button.active:after {
  opacity: 1;
}

body.newDesign .nav.underlineTab button.active {
  color: #0064f2;
}

body.newDesign .nav.pillsTab::-webkit-scrollbar {
  display: none;
}

body.newDesign .nav.pillsTab .active.tab-button {
  background: #00ff00 !important;
  color: #111 !important;
}

body.newDesign .pillsTab {
  scrollbar-width: none;
}

body.newDesign ul.progressList:after {
  position: absolute;
  content: "";
  left: 16px;
  top: 8px;
  height: calc(100% - 30px);
  width: 2px;
  border-left: 2px dashed #9a9a9a;
  z-index: -1;
}

body.newDesign .underlineTab .tab-button:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #754590;
  border-radius: 5px;
  opacity: 0;
}

body.newDesign .underlineTab .tab-button.active:after {
  opacity: 1;
}

body.newDesign .underlineTab .tab-button.active {
  color: #754590;
}

body.newDesign .right-n25 {
  right: -25px;
}
.toggle-container {
  position: relative; /* relative */
  display: inline-flex; /* inline-flex */
  height: 1.5rem; /* h-6 */
  width: 2.75rem; /* w-11 */
  align-items: center; /* items-center */
  border-radius: 9999px; /* rounded-full */
  transition: background-color 300ms; /* transition-colors duration-300 */
}

.toggle-indicator {
  display: inline-block; /* inline-block */
  height: 1rem; /* h-4 */
  width: 1rem; /* w-4 */
  background-color: white; /* bg-white */
  border-radius: 9999px; /* rounded-full */
  transition: transform 300ms; /* transition-transform duration-300 */
}

.translate-left {
  transform: translateX(0.25rem); /* translate-x-1 */
}

.translate-right {
  transform: translateX(1.5rem); /* translate-x-6 */
}
body.newDesign .font-18 {
  font-size: 18px;
}

body.newDesign .active_nav {
  color: #00ff00;
}

body.newDesign .goblin__menu-portal {
  z-index: 999 !important;
}

body.newDesign .whitespace-nowrap {
  white-space: nowrap !important;
}

@media (max-width: 480px) {
  body.newDesign .nav.pillsTab .tab-button {
    font-size: 12px;
  }
}